<!--
  ~ This file is part of the TeamNeustaGmbH/m2t3 package.
  ~
  ~ Copyright (c) 2017 neusta GmbH | Ein team neusta Unternehmen
  ~
  ~ For the full copyright and license information, please view the LICENSE file that was distributed with this source code.
  ~
  ~ @license https://opensource.org/licenses/BSD-3-Clause BSD-3-Clause License
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- change Template for magentypo head request -->
    <preference for="\Magento\Framework\View\Result\Page" type="\TeamNeustaGmbh\Magentypo\Framework\View\Result\Page" />
    <preference for="\TeamNeustaGmbh\Magentypo\Model\Elasticsearch\ConfigInterface" type="\TeamNeustaGmbh\Magentypo\Model\Elasticsearch\Config" />
    <type name="\TeamNeustaGmbh\Magentypo\Framework\View\Result\Page">
        <arguments>
            <argument name="layoutReaderPool" xsi:type="object">pageConfigRenderPool</argument>
            <argument name="generatorPool" xsi:type="object">pageLayoutGeneratorPool</argument>
            <argument name="template" xsi:type="string">TeamNeustaGmbh_Magentypo::root.phtml</argument>
            <argument name="typoTemplate" xsi:type="string">TeamNeustaGmbh_Magentypo::magentypo/root.phtml</argument>
            <argument name="typoBodyClassTemplate" xsi:type="string">TeamNeustaGmbh_Magentypo::magentypo/body.phtml</argument>
        </arguments>
    </type>
    <type name="\TeamNeustaGmbh\Magentypo\Model\Index" shared="false"/>
    <!-- Avoid rendering of META and TITLE Data in magentypo-head request -->
    <preference for="\Magento\Framework\View\Page\Config\Renderer" type="\TeamNeustaGmbh\Magentypo\Framework\View\Page\Config\Renderer" />

    <!-- Indexer related Stuff -->
    <type name="\TeamNeustaGmbh\Magentypo\Model\Indexer\CustomerGroup">
        <arguments>
            <argument name="customerGroups" xsi:type="object">\Magento\Customer\Model\ResourceModel\Group\Collection</argument>
            <argument name="installer" xsi:type="object">\TeamNeustaGmbh\Magentypo\Model\Elasticsearch\Install\CustomerGroup</argument>
        </arguments>
    </type>
    <type name="\TeamNeustaGmbh\Magentypo\Model\Indexer\Products">
        <arguments>
            <argument name="productCollection" xsi:type="object">\Magento\Catalog\Model\ResourceModel\Product\Collection</argument>
            <argument name="installer" xsi:type="object">\TeamNeustaGmbh\Magentypo\Model\Elasticsearch\Install\Product</argument>
        </arguments>
    </type>
    <type name="\TeamNeustaGmbh\Magentypo\Model\Indexer\Categories">
        <arguments>
            <argument name="categoryCollection" xsi:type="object">\Magento\Catalog\Model\ResourceModel\Category\Collection</argument>
            <argument name="installer" xsi:type="object">\TeamNeustaGmbh\Magentypo\Model\Elasticsearch\Install\Category</argument>
        </arguments>
    </type>

    <!-- Index Type Prepare -->
    <type name="\TeamNeustaGmbh\Magentypo\Model\Elasticsearch\Install\CustomerGroup">
        <arguments>
            <argument name="resource" xsi:type="object">\TeamNeustaGmbh\Magentypo\Model\Elasticsearch\Resource</argument>
        </arguments>
    </type>
    <type name="\TeamNeustaGmbh\Magentypo\Model\Elasticsearch\Install\Category">
        <arguments>
            <argument name="resource" xsi:type="object">\TeamNeustaGmbh\Magentypo\Model\Elasticsearch\Resource</argument>
        </arguments>
    </type>
    <type name="\TeamNeustaGmbh\Magentypo\Model\Elasticsearch\Install\Product">
        <arguments>
            <argument name="resource" xsi:type="object">\TeamNeustaGmbh\Magentypo\Model\Elasticsearch\Resource</argument>
        </arguments>
    </type>
    <type name="\TeamNeustaGmbh\Magentypo\Model\Elasticsearch\Resource">
        <arguments>
            <argument name="host" xsi:type="string">elasticsearch</argument>
            <argument name="port" xsi:type="string">9200</argument>
        </arguments>
    </type>
</config>
